

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js" defer></script>
</head>


 {{define `navbar`}}   <nav class="sticky top-0 w-full z-50 glass py-4">
        <div class="max-w-7xl mx-auto px-6 h-20 flex items-center justify-between">
            <div class="flex items-center space-x-2">
                <div class="w-8 h-8 bg-primary rounded flex items-center justify-center text-white font-bold text-lg">EA
                </div>
                <span class="text-xl font-bold tracking-tight">Ezekiel<span class="text-primary">Augustine</span></span>
            </div>
            <div class="hidden md:flex items-center space-x-8 text-sm font-medium project-card:hover ">
                <a class="hover:text-primary transition-all hover:-translate-y-1 nav-link  hover rounded {{ if eq .Page `home` }}active{{ end }}"
                    href="home_page.html">Home</a>
                <a class="hover:text-primary transition-all hover:-translate-y-1 nav-link hover rounded  "
                    href="professional_resume.html">Experience</a>
                <a class="hover:text-primary transition-all hover:-translate-y-1 nav-link hover rounded"
                    href="projects_gallery.html">Projects</a>
                <a class="hover:text-primary transition-all hover:-translate-y-1 nav-link hover rounded"
                    href="skills_&_expertise.html">Skills</a>
                <a class=" hover:text-primary transition-all hover:-translate-y-1 nav-link hover rounded "
                    href="contact_information.html">Let's Talk</a>
                <a class=" hover:text-primary transition-all hover:-translate-y-1 nav-link hover rounded "
                    href="about_me.html">About Me</a>
            </div>
            <button class="md:hidden text-slate-100">
                <span class="material-icons">menu</span>
            </button>
        </div>
    </nav> {{end}}


