body {
    font-family: 'Inter', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.tech-grid {
    background-image: radial-gradient(circle at 1px 1px, rgba(19, 91, 236, 0.15) 1px, transparent 0);
    background-size: 24px 24px;
}

.glass-card {
    background: rgba(16, 22, 34, 0.8);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(19, 91, 236, 0.17);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2d3748;
    border-radius: 10px;
}



.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}


